<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOpzR-wd0Na-XXk_6wilKtXXN99z2NuPw</string>
	<key>GCM_SENDER_ID</key>
	<string>1089698430763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Team-Alpha-Bar.Calisthenics-Logger</string>
	<key>PROJECT_ID</key>
	<string>calisthenics-logger</string>
	<key>STORAGE_BUCKET</key>
	<string>calisthenics-logger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089698430763:ios:6ffa376bd5f289486bcf6e</string>
</dict>
</plist>